<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/59fc6bbb-f7cf-4c8a-aca5-801b7d64f2ae/resourceGroups/WeatherApp20210616123030ResourceGroup/providers/Microsoft.ContainerRegistry/registries/WeatherApp20210616123030</ResourceId>
    <ResourceName>WeatherApp20210616123030</ResourceName>
    <ResourceGroup>WeatherApp20210616123030ResourceGroup</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://weatherapp20210616123030.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>